@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");




body {
    font-family: "Poppins", sans-serif;

}


.container-fluid{
    padding: 0;
    display: flex;
    flex-wrap:wrap ;

}

.content-main{
    margin: 0;
}

/* .main-content{
    display: flex;
    justify-content: s;
} */

.sidebar {
    position:fixed;
    width: 20%;
    height: 100%;
    background-color: #6C2863;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.sidebar-column{
    padding: 0;
    width: 20%;
}

.content-column{
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}



.sidebar-header {

    color: var(--50, #FDF6FD);
    text-align: center;

}

.sidebar-header h2 {
    margin-top: 64px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 80px
}

a {
    text-decoration: none;
    color: #FDF6FD
}

ul {
    list-style-type: none;
}

.link-name {
    /* text-align: center; */
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    margin-left: 20px;

}

nav{
    display: flex;
}

.nav-link {
    margin-left: -20px;
    margin-bottom: 8px  ;
    width: 204px;
    height: 38px ;
    background-color: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}


.nav-link img {
    width: 20px;
    margin-left: 20px;
}

.nav-active {
    margin-left: -20px;
    margin-bottom: 8px;
    width: 204px;
    height: 38px ;
    background-color: #FDF6FD;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.nav-active img {
    width: 20px;
    margin-left: 20px;
    margin-top: 0px;

}

.active {
    /* text-align: center; */
    /* width: 200px; */
    /* background-color: #FDF6FD; */
    /* border-radius: 5px; */
    color: #6C2863;
    /* padding: 8px 100px 8px 50px;  */
    font-weight: 700;
}

.nav-logout {
    margin-left: -20px;
    margin-top: 80px;
    margin-bottom: 156px;
}e

.nav-logout img {
    width: 20px;
    margin-left: 20px;
}


.line {
    position: absolute;
    left: -22px;
    top: 0.5px;
    /* border-radius: 5px; */


}

.none {
    display: none;
}

/* header css */


.header-wrapper {
    display: flex;
    align-items: center;

}


.profile-info {
    display: flex;
    align-items: center;
    margin-left: 3em; /* Atur jarak antara gambar profil dan teks */
}
.profile-header {
    width: 30px;
    border-radius: 50%;
}

.name-header {
    margin-left: 5px; /* Atur jarak antara gambar profil dan teks */
}

/* dashboard content css */
.welcome-content {
    /* margin-left: 18%; */

}

.profile-welcome{
    width: 5.5rem;
 height: 5.5remrem;
    border-radius: 50%;
    /* margin-left: 4rem; */
}

.text-content{
    display: flex;
    gap: 1rem;
}

.countdown-content{

    z-index: 1;
}

.countdown-content h4{
    color: #6C2863;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 1;
}

.countdown-box{
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 0.9375rem;
    background: var(--50, #FDF6FD);
    box-shadow: 0px 2.5496182441711426px 2.5496182441711426px 0px rgba(0, 0, 0, 0.25);

}

.card-body h6 {

    color: #6C2863;
    font-size: 0.63738rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}


.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.countdown-fill{
    justify-content: center;
    align-items: center;
    border-radius: 0.79675rem;
    background: var(--30, #6C2863);

}

.countdown-fill p {
    color: var(--100, #FBEBFC);
    font-size: 2.54963rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.tugas-header{
  position: relative;
}

.tugas-header a {
    position: absolute;
    left: 25rem;
    top: 8px;
}


.tugas-content h4 {
    color: #6C2863;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tugas-box {
    border: none;
    /* display: flex;
    justify-content: center; */
    border-radius: 0.9375rem;
    background: var(--50, #FDF6FD);
    box-shadow: 0px 2.5496182441711426px 2.5496182441711426px 0px rgba(0, 0, 0, 0.25);
}

.tugas-box-late {
    border: none;
    /* display: flex;
    justify-content: center; */
    border-radius: 0.9375rem;
    background: #B73639;
    box-shadow: 0px 2.5496182441711426px 2.5496182441711426px 0px rgba(0, 0, 0, 0.25);
}

.note-tugas {
    display: flex;
    gap: 1rem;
}

.note1{
    color: #6C2863;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.note2{
    color: #B73639;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tugas-box,
.tugas-box-late {
    display: flex;
    justify-content: center;
    align-items:left;
}

.tugas-content a{
    display: flex;
    align-items: center;
}

.lihat-tugas {
    color: #6C2863;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.upload-header {
    color: #6C2863;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.upload-header-late{
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deadline-upload {
    color: #6C2863;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deadline-upload-late{
    color: #fff;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.upload-teks {
    display: flex;
    flex-direction: column;

}

.btn-upload {
    border-radius: 0.625rem;
    background: var(--30, #6C2863);
    padding: 0.5rem 1.875rem;
    color: var(--50, #FDF6FD);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-upload-late {
    border-radius: 0.625rem;
    background: #5A0909;
    padding: 0.5rem 1.875rem;
    color: var(--50, #FDF6FD);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-upload:hover{
    background-color: #6C2863;
    color: #fff;
}

.btn-upload-late:hover{
    background-color: #5A0909;
    color: #fff;
}

.lihat-tugas a {
    color: #6C2863;
}

.kalender-main,
.kegiatan-main{
    margin-top: 0.5rem;
    margin-left: 5.5rem;
}

.kalender-content h4{
    color: #6C2863;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.kegiatan-content h4 {
    color: #6C2863;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-kegiatan{
    display: flex;
    gap: 1.5rem;

}

.kegiatan-box {
    border: none;
    border-radius: 0.9375rem;
    background: var(--50, #FDF6FD);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.date-kegiatan {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ket-kegiatan{
    display: flex;
    flex-direction: column;
    color: #6C2863;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    justify-content: center;
}


.kegiatan-header{
    display: flex;
    flex-direction: column;
    color: #6C2863;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
}





.welcome-header h2 {
    color: #6C2863;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.welcome-header p {
    color: #6C2863;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-first{
    border-radius: 0.6rem;
    background: #6C2863;
    color: var(--50, #FDF6FD);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 6px;
}

.btn-first:hover{
    background-color: rgba(108, 40, 99, 1);
    color: #fff;
}

.download-content img {
    width: 1.4rem;
}

/* penugasan css */

.penugasan-header,
.penugasan-header-status{
    color: #6C2863;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-right: 1.8rem; */
    margin-left: 2rem
}




.penugasan-box{
    width: 55rem;
    height:5rem;
    margin-left: 3.5rem;
    border-radius: 0.9375rem;
    background: var(--50, #FDF6FD);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.penugasan-box-late{
    width: 55rem;
    height:5rem;
    margin-left: 3.5rem;
    border-radius: 0.9375rem;
    background: #B73639;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.penugasan-box-done{
    width: 55rem;
    height:5rem;
    margin-left: 3.5rem;
    border-radius: 0.9375rem;
    background: #E5E5E5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.penugasan-box.active{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

}


.penugasan-box::after,
.penugasan-box-late::after,
.penugasan-box-done::after{
    content: "";
    width: 1.5rem;
    height: 1rem;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 1.2rem;
    transition: transform 0.3s ease-out;

}


.penugasan-box::after,
.penugasan-box-done::after{
    background-image: url(../img/down.svg);
}

.penugasan-box-late::after{
    background-image: url(../img/down-red.svg);
}

.penugasan-box.active::after,
.penugasan-box-done.active::after,
.penugasan-box-late.active::after{
    transform: rotate(180deg);
}

.penugasan-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.penugasan-body-content {
    padding:  1rem  ;
    text-align: center;
    text-justify: inter-word;
    line-height: normal;
    font-size: 1rem;
    font-weight: 400;
    background: rgba(253, 246, 253, 0.5);
    border-radius: 0.9375rem;
    margin-left: 3.2rem;
    border-top: 1px solid #FDF6FD;
}

.box-header{
    text-align: center;
    color: #6C2863;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header-late{
    text-align: center;
    color: #5A0909;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header-done{
    text-align: center;
    color: #B0B0B0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-box,
.status-box{
    color: #6C2863;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-box-late,
.status-box-late{
    color: #5A0909;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-box-done,
.status-box-done{
    color: #B0B0B0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* panduan css */



.panduan-main{
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1.25rem;
    background: var(--50, #FDF6FD);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.panduan-header{
    color: #6C2863;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* ukm css */

.ukm-kolom{
    display: flex;
    justify-content: center;
}
.ukm-main{
    border-radius: 0.9375rem;
    background: var(--50, #FDF6FD);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ukm-header{

    color: #6C2863;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Profile css */
.main-welcome {
    width: 815px;
    height: 48px;
    position: absolute;
    top: 96px;
    left: 365px;
    padding: 10px;
    border-radius: 10px;
    background: #FBEBFC;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.text-welcome {
    color: #6C2863;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 9px;
    margin-left: 36px;
    margin-right: 16px;
}

/* .row{
    margin: 0;
} */

.update-profile{
    padding: 0;
}
.add-profile {
    width: 90px;
    cursor: pointer;
    border-radius: 50%;
}

.form-control{
    width: 90%!important;
}


.tag-nama {

    color: #6C2863;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tag-nim {
    color: #6C2863;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-profile label{
    color: #6C2863;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-profile input{
    border-radius: 0.3125rem;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    color: #6C2863;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}


.button-profile .btn-first{
    padding: 8px 24px;
}

.input-fakultas,
.input-departemen,
.input-sandi{
    position: relative;
}

.edit-fakultas,
.edit-departemen,
.edit-sandi{
    position: absolute;
    top: calc(54%);
    right: calc(15%);

}

.input-sandi-baru{
    position: relative;
}
.edit-sandi-baru{
    position: absolute;
    top: calc(54%);
}

.note{
    color: red ;
    color: #B73639;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pilihan1,
.pilihan2{
    padding: 0;
}



.btn-check+.btn:hover{

    border: 2px solid #E5E5E5;
    border: none;
    background: #F9FBFB;
    border: 2px solid #E5E5E5;
    color: #D9D9D9;

}

.pilihan2 label.btn {
    padding: 6px 40px;
}

.btn-check+.btn{
    background: #F9FBFB;
    border: 2px solid #E5E5E5;
    color: #D9D9D9;
    font-weight: 400;
    padding: 6px 32px;
}

.btn-check:checked + .btn-outline-primary {
    background: #F9FBFB;
    color: #6C2863;
    border: 2px solid #E5E5E5;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





/* .fullname {
    position: absolute;
    top: 250px;
    left: 365px;
    color: #6C2863;

}



.nama-lengkap {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nama-lengkap p {
    position: absolute;
    top: 0px;
    left: 130px;
    color: #B73639;
}

.readonly-name{
    width: 370px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 12px 0 36px ;
    outline: none;
}

.note{
    color: #B73639;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.NIM {
    position: absolute;
    top: 250px;
    left: 810px;
    color: #6C2863;
}

.nim {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.nim p {
    position: absolute;
    top: 0px;
    left: 36px;
    color: #B73639;
}

.readonly-nim{
    width: 370px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 12px 0 36px ;
    outline: none;
} */

/* .fakultas{
    position: absolute;
    top: 350px;
    left: 365px;
    color: #6C2863;
} */

/* .edit-fakultas {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

/* .input-fakultas {
    width: 370px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 60px 0 36px ;
    outline: none;
} */

/* .edit{
    position: relative;
    left: -65px;
} */


.custom-datepicker {
    position: relative;
}

.custom-datepicker input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.custom-datepicker .custom-icon {
    position: absolute;
    top: 73%;
    right: 80px;
    transform: translateY(-50%);
    width: 20px;
    height: 24px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.sandi-header {
    color: #6C2863;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* .departemen{
    position: absolute;
    top: 350px;
    left: 810px;
    color: #6C2863;
}

.edit-departemen {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-departemen {
    width: 370px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
   line-height: normal;
    padding: 0px 60px 0 36px ;
    outline: none;
}  */

/* .jenis-kelamin {
    position: absolute;
    top: 465px;
    left: 365px;
    color: #6C2863;
    display: flex;

} */
/*
.edit-kelamin {
    position: absolute;
    left: 0px;
    top: -30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.option-p {
    width: 175px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3px 12px 0 36px ;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
    color: #D9D9D9;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.option-l {
    width: 175px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3px 12px 0 52px ;
    cursor: pointer;
    color: #D9D9D9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.option-p.selected,
.option-l.selected {
   /* Warna latar belakang yang berbeda untuk kotak yang dipilih */
/* color:#6C2863; /* Warna teks yang berbeda untuk kotak yang dipilih */
/* }  */

/* .tanggal-lahir {
    position: absolute;
    top: 435px;
    left: 810px;
    color: #6C2863;
}

.edit-tgllhr{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-tgllhr{
    width: 370px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 12px 0 36px ;
    outline: none;
}

.sandi-main {

position: absolute;
left: 365px;
top: 540px;
}

 .sandi-header {
    color: #6C2863;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sandi-lama{
    position: absolute;
    top: 60px;
    left: 0px;
    color: #6C2863;

}

.edit-sandi1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-sandi1{
    width: 370px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 60px 0 36px ;
    outline: none;
}

.sandi-baru{
    position: absolute;
    top: 60px;
    left: 445px;
    color: #6C2863;
}

.edit-sandi2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-sandi2 {
    width: 370px;
    height: 36px;
    color: #6C2863;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background: #F9FBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 60px 0 36px ;
    outline: none;

} */

/* .simpan{

position: absolute;
left: 355px;
top: 165px;


}

.simpan button {
    border-radius: 10px;
    border: none;
    background-color: #6c2863;
    color: #fff;
    margin-right: 8px;
    font-weight: 600;
    padding: 8px 24px 8px 24px;
    margin-bottom: 36px;
}  */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8);  */
    backdrop-filter: blur(5px); /* Efek blur */
    z-index: 9998; /* Lebih rendah dari pop-up agar pop-up tetap di atas */
}


.update-box {
    width: 25rem;
    height: 25rem;
    background: var(--100, #fbebfc);
    border-radius: 1.5625rem;
    position: absolute;
    left: 432px;
    top: 108px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor:auto;
    z-index: 9999;
}

.update-box h2 {
    color: #6C2863;
    margin-top: 64px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

strong {
    cursor: pointer;
}

.update-box button {
    border: none;
    width: 300px;
    height: 40px;
    background: var(--30, #6c2863);
    display: block;
    align-items: center;
    margin-top: 35px;
    margin-left: 50px;
    border-radius: 14px;
    color: #fff;
    font-weight: 600;
}



.drag-option {
    width: 300px;
    height: 160px;
    border-radius: 10px;
    border: 2px dashed var(--30, #6C2863);
    margin-left: 50px;
}

.drag-option img{
    margin-top: 20px;
    width: 48px;
}

.drag-option p {
    margin-bottom: 2px;
    color: #6C2863;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.uploaded img{
    width: 28px;
    margin-top: 2px;
}

.drag-option.uploaded {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:  50px;
}

.drag-option.uploaded button{
    margin-top: 100px;

}

.drag-option.uploaded p {
    font-size: 16px;
}


#closeIcon {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    width: 18px; /* Sesuaikan ukuran gambar */
    height: 18px; /* Sesuaikan ukuran gambar */
}


.show-password-icon,
.hide-password-icon {
    position: absolute;
    top: 73%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

.hide-password-icon {
    display: none;
}

/* admin css */
/* absen */

.absen-main{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.9375rem;
    background: var(--50, #FDF6FD);
    box-shadow: 0px 4px 25px 0px rgba(29, 60, 88, 0.10);
}


.kolom-absen-header,
.kolom-absen,
.absen-detail{
    color: #6C2863;
    font-size: 0.75rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    text-align: center;
}

.kolom-absen-header,.absen-detail {
    font-weight: 700;
}

.kolom-absen{
    font-weight: 400;
}




.logout-alert{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-logout button{
    border: none;
    background: none;
    color: #fff;
}

.confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.4625rem;
    background: #6C2863;
    box-shadow: 0px 4.441411972045898px 4.441411972045898px 0px rgba(0, 0, 0, 0.25);
    width: 30rem;
    height: 12rem;
    z-index: 9999;
}

.dialog-content {


}

.dialog-content p {
    padding: 30px 10px 20px 10px;
    color: var(--50, #FDF6FD);
    text-align: center;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dialog-buttons {

    display: flex;
    justify-content: center;
    margin-top: 1.8rem;
}

.btn-confirm,
.btn-cancel {
    padding: 8px 24px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.btn-confirm {
    background-color: #fff;
    color: #6C2863;
}

.btn-cancel {
    background-color: #fff;
    color: #F72C25;
}


.line-logout{
    width: 30rem;
    height: 0.14625rem;
    background: #FDF6FD;
}

.line-logout2{
    height: 5.9rem;
    background: #FDF6FD;
}
/* Your existing styles for sidebar */

/* css sertifikat */

.sertifikat-main{
    border-radius: 0.9375rem;
    background: #B73639;
    width: 18.75rem;
    padding: 2.5rem;
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

/* .sertifikat-main img {
    width: 0.5rem;
    height: auto;
} */
.sertifikat-main p{
    color: var(--50, #FDF6FD);
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}












